<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Page not found</title>

	<!-- Template CSS -->
	<link rel="stylesheet" href="../../css/style-starter.css">

	<!-- google fonts -->
	<link href="//fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap" rel="stylesheet">
</head>

<body class="sidebar-menu-collapsed">
<div class="se-pre-con"></div>
<section>

	<!-- header-starts -->
	<div class="header sticky-header">

		<!-- notification menu start -->
		<div class="menu-right">
			<div class="navbar user-panel-top">

				<div class="user-dropdown-details d-flex">

					<div class="profile_details">
						<ul>
							<li class="dropdown profile_details_drop">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu3" aria-haspopup="true"
								   aria-expanded="false">
									<div class="profile_img">
										<img src="../../images/profileimg.jpg" class="rounded-circle" alt="" />
										<div class="user-active">
											<span></span>
										</div>
									</div>
								</a>
								<ul class="dropdown-menu drp-mnu" aria-labelledby="dropdownMenu3">
									<li class="user-info">
										<h5 class="user-name">John Deo</h5>
										<span class="status ml-2">Available</span>
									</li>
									<li> <a href="#"><i class="lnr lnr-user"></i>My Profile</a> </li>
									<li> <a href="#"><i class="lnr lnr-users"></i>1k Followers</a> </li>
									<li> <a href="#"><i class="lnr lnr-cog"></i>Setting</a> </li>
									<li> <a href="#"><i class="lnr lnr-heart"></i>100 Likes</a> </li>
									<li class="logout"> <a href="#sign-up.html"><i class="fa fa-power-off"></i> Logout</a> </li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--notification menu end -->
	</div>
	<!-- //header-ends -->
	<!-- main content start -->
	<div class="main-content">

		<!-- content -->
		<div class="container-fluid content-top-gap">


			<!--<div class="welcome-msg pt-3 pb-4">-->
				<!--<h1>Hi <span class="text-primary">John</span>, Welcome back</h1>-->
				<!--<p>Page Not Found </p>-->
			<!--</div>-->

			<h1 class="text-danger"> ERROR 404 </h1>
			<h1 class="text-danger"> Page not found!</h1>

			<h1> 😥</h1>

			<h1 class="text-center text-lg-center">
				<p> go bck to home</p>
				<a href="/" title="home" class="fa fa-home">
					<!--<img src="../../images/logo.png" alt="logo-icon"> -->
				</a>
			</h1>
		</div>
		<!-- //content -->
	</div>
	<!-- main content end-->
</section>

<%- include('../includes/intern/footer'); %>